[Unit]
Description=Temporary Directory /tmp
Documentation=man:hier(7)
After=swap.target
Before=local-fs.target umount.target
Conflicts=umount.target
DefaultDependencies=no
ConditionPathIsSymbolicLink=!/tmp

[Mount]
What=tmpfs
Where=/tmp
Type=tmpfs
Options=mode=1777,strictatime,nosuid,nodev,noexec

[Install]
WantedBy=local-fs.target
